[Unit]
Description=Update Homelab Stack from Git
Wants=network-online.target
After=network-online.target

[Service]
User=groot
Group=docker
Type=oneshot
WorkingDirectory=/srv/homelab
ExecStart=/usr/bin/git pull --ff-only origin main
ExecStartPost=/usr/bin/docker compose -f stacks/core.yml up -d --pull always
